h1 {
    font-family: 'Times New Roman', Times, serif;
}
.mycontainer > div{
    width: 40%;
}
.mycontainer{
    display:flex;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    text-align: center;
    background-color: #04AA6D;
    padding: 12px 28px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #ccc;
}
.button-right{
    text-align: right;
    margin-bottom: 0%;
    margin-top: 0%;
}
form{
    display:flex;
    margin:20px auto;
    width:85%;
}
.buscar {
    padding: 12px 28px;
    font-size: 1rem;
    border-left: none;
    background-color: #04AA6D;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    border: 1px solid #ccc;
  }
input[type="search"] {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 4px 0 0 4px;
    outline: none;
  }